.lsp-session-v1
org-persist
org-roam.db
projectile-bookmarks.eld
projectile.cache
recentf
server
transient
backup
auto-save-list
elpa
.org-generic-id-locations
.org-id-locations
bookmarks
chatgpt
eshell
secrets.el